@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .heading-xl {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .heading-l {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  .heading-m {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
  }
  .heading-s {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .body-l {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
  }
  .body-m {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}
/* 
.active {
  background-color: #635fc7;
} */

/* toggle button CSS */

.toggle-btn {
  background-color: #635fc7;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  position: relative;
}
.toggle-knob {
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-btn.active .toggle-knob {
  left: calc(40px - 17px);
}
